* {
     box-sizing: border-box;
}
 body {
     font-family: 'Noto Serif SC', serif;
}
 html {
     background-image: linear-gradient(to left, #BA5370, #F4E2D8);
}
 h1, h2 {
     margin-top: 0;
     text-align: center;
     color: white;
     text-transform: uppercase;
}
 input{
     margin: auto;
     width: 20%;
     padding: 1em;
     border: none;
}
 label {
     margin: 10px auto;
     font-weight: lighter;
}
 input, label {
     width: 20%;
     display: block;
     text-align: center;
}
 input[type="submit"] {
     margin: 20px auto;
     color: #BA5370;
     border-radius: 1em;
     padding: 10px;
     font-size: 1.2em;
     font-weight: bold;
     border: 4px solid #BA5370;
     transition: all 0.5s ease;
}


 .center-content {
     height: 30vh;
}

/***PSEUDO*****/

input[type="submit"]:hover {
    color: white;
    background: #BA5370;
}
