@import "Color-Variables.scss";

$primary-font-family: 'Noto Serif SC', serif;

* {
     box-sizing: border-box;
}

html {

}

 body {

     font-family: $primary-font-family;
     font-size: 62.50;
     padding: 1rem;
}

h1 {
  animation-name: moveFromLeft;
  animation-duration: 2s;
}
 h1, h2 {
   margin-top: 0;
   text-align: center;
   color: $color-white;
   text-transform: uppercase;
}


.container {
  background-image: linear-gradient(to left, $color-primary-dark, $color-primary-light);
  height: 100vh;
}

 .center-content {
     height: 30vh;
}

.lower-content {
  animation-name: moveDown;
  animation-duration: 1.5s;
  animation-delay: 1.4s;
  animation-timing-function: ease-out;

}


@keyframes moveFromLeft{
     0% {
       opacity: 0;
       transform: translateY(-100px);
     }

     100% {
       opacity: 1;
       transform: translate(0);
     }
}



@keyframes moveDown{
     0% {
       transform: translateY(10px);
     }
   60% {
     transform: translateY(50px);
   }
     100% {
       transform: translateY(0);
     }
}
