* {
     box-sizing: border-box;
}

html {
    background-image: linear-gradient(to left, #BA5370, #F4E2D8);
}

 body {
     font-family: 'Noto Serif SC', serif;
}

h1 {
  animation-name: moveFromLeft;
  animation-duration: 2s;
}
 h1, h2 {
     margin-top: 0;
     text-align: center;
     color: white;
     text-transform: uppercase;

}


 .center-content {
     height: 30vh;
}

.lower-content {
  animation-name: moveDown;
  animation-duration: 1.5s;
  animation-delay: 1.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;

}

/***PSEUDO*****/



@keyframes moveFromLeft{
     0% {
       opacity: 0;
       transform: translateY(-100px);
     }

     100% {
       opacity: 1;
       transform: translate(0);
     }
}



@keyframes moveDown{
     0% {
       transform: translateY(10px);
     }
   60% {
     transform: translateY(50px);
   }
     100% {
       transform: translateY(0);
     }
}
