* {
     box-sizing: border-box;
}
 body {
     font-family: 'Noto Serif SC', serif;
}
 html {
     background-image: linear-gradient(to left, #BA5370, #F4E2D8);
}
 h1, h2 {
     margin-top: 0;
     text-align: center;
     color: white;
     text-transform: uppercase;
}


 .center-content {
     height: 30vh;
}

/***PSEUDO*****/

input[type="submit"]:hover {
    color: white;
    background: #BA5370;
    cursor: pointer;
}
