h1 {
    animation-name: moveFromLeft;
    animation-duration: 2s;
}


.lower-content {
    animation-name: moveDown;
    animation-duration: 1.5s;
    animation-delay: 1.4s;
    animation-timing-function: ease-out;
}


@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveDown {
    0% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

input[type="submit"] {
    &:hover {
        box-shadow: 0 8px 7px $color-box-shadow;
        transform: translateY(-8px);
        color: $color-white;
        background: $color-primary-dark;
        cursor: pointer;
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 4px 4px $color-box-shadow;
    }

}
