//Base
$base: #BA5370;

//Colors
$color-white: #fff;
$complement: lighten($base, 40%);
$color-primary-light: $complement;
$color-primary-dark: darken($base, 10%);
$color-box-shadow: #707070;



// Font
$primary-font-family: 'Noto Serif SC',serif;
