
//Colors
$base: #BA5370;
$color-white: #fff;
$color-primary-light: #F4E2D8;
$color-primary-dark: darken($base, 25%);
$color-box-shadow: #707070;



// Font
$primary-font-family: 'Noto Serif SC',serif;
